<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Welcome!</title>
    <style>
        body { font-family: Arial, sans-serif; line-height: 1.6; }
        .container { width: 90%; margin: auto; padding: 20px; border: 1px solid #ddd; }
        .header { font-size: 24px; color: #333; }
        .content { margin-top: 20px; }
    </style>
</head>
<body>
<div class="container">
    <h1 class="header" th:text="|Welcome, ${username}!|">Password Changed</h1>

    <div class="content">
        <p>You can login using these credentials</p>
        <p th:text="|Username: ${username}|"></p>
        <p th:text="|Password: ${password}|"></p>
        <p>Thank you for registering with Roles Management. We are excited to have you.</p>
        <p>Best regards,<br/>The Admin Team</p>
    </div>
</div>
</body>
</html>